.body {
  min-height: 100vh;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //******************************NAV BAR STYLES
  .navbar {
    width: 100%;
    background: @main-color;
    .navbar-brand {
      color: white;
    }
    .nav-link {
      color: white;
    }
  }
} //APP
//**************************************COMPONENTS STYLES

.component-styles {
  margin-top: 0.2%;
  margin-bottom: 1%;
  padding-right: 1%;
  padding-left: 0.3%;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

//**************************************GENERAL COMPONENT STYLES
.btn {
  background: @accent-color;
  color: black;
  border: none;
}
.btn:hover {
  background: @main-color;
}
//*************************************LEFT COMPONENT
.nav-tabs {
  background: @accent-color;
  .nav-link {
    cursor: pointer;
  }
  .row {
    width: 100%;

    .col-md-12 {
      padding: 0px;
    }
  }
}

.contactLabel-styles {
  font-size: 25px;
  text-align: left;
  width: 100%;
}
.contactCard-styles {
  background: @secondary-color;
}
.form-control {
  font-size: 25px;
  margin-bottom: 3%;
}
.list-group {
  color: white;
  font-size: 25px;

  .list-group-item {
    background: @secondary-color;
  }
  
}
.tech-container {
  .list-techs {
    border: 1px solid @secondary-color;
    height: 71vh;
    overflow: auto;
  }
  .prof-styles {
    color: black;
    background: @secondary-color;
  }
  .list-group-item {
    font-size: 1.3rem;
    background: white;
    color: @main-color;
  }
}
.message-styles {
  height: 300px;
}
//******************************************MODAL CONTENT
.modal-content {
  margin-top: 40%;
  background: @third-color;
  color: white;
  .modal-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
  .modal-body {
    font-size: 20px;
  }
  .modalbutton-styles {
    margin: 0 auto;
    width: 30%;
    font-size: 17px;
  }
  .close {
    color: @accent-color;
  }
}
.leftProgress-styles {
  margin-top: 2%;
  border-top: 4px solid @secondary-color;
  .progress-styles {
    margin-left: 1%;
  }
  .label-styles {
    display: none;
  }
  
}
.prof-styles{
width:100%
  }
//******************************************MIDDLE COMPONENT
.card-title {
  font-size: 26px;
}
.card-text {
  border-top: 2px solid @main-color;
  font-size: 20px;
  text-align: justify;
}
.card-img-top {
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
}

//*****************************************RIGHT COMPONENT
.progress-styles {
  font-size: 20px;
  .label-styles {
    font-size: 30px;
  }

  .label-styles {
    width: 100%;
    background: @accent-color;
    padding-bottom: 1%;
    border-bottom: 2px solid @secondary-color;
  }
  .text-left {
    font-size: 25px;
  }
  .progress-bar {
    background: @secondary-color;
  }
}
.prof-container {
  .list-items {
    border: 1px solid @secondary-color;
    height: 70.3vh;
    overflow: auto;
  }
  .prof-styles {
    color: black;
    background: @secondary-color;
  }
  .list-group-item {
    font-size: 1.3rem;
    background: white;
    color: @main-color;
  }
}

//***********************************FOOTER COMPONENT
.footer-styles {
  width: 100%;

  margin-top: auto;
  align-self: flex-end;
  background: @fourth-color !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  .nav-link {
    color: white;
  }
}

//******************************PROJECT COMPONENT
.progress-styles {
  .links{
font-size:1rem;
color:@main-color;  

.list-group-item{
  background:white;
}
.link-styles{
  color:@main-color;
}
.list-group-item:hover{
  background:@main-color;
  color:white;  
}

}

  .fas{
    color:@main-color;
  }
  .fas:hover{
  color:@secondary-color
  }
  .projectContainer-styles{
    display:flex;
    justify-content: space-between;
    
    width:100%;
margin:0 auto;
margin-top:19%;
height:60px;
color:white;
  }
  .card-styles {
    .btn{
    border-radius: 0px;
    }
    margin-top: 0.5%;
    .card {
      color: black;
      min-height: 70vh;
      background-image: url("https://i.imgur.com/OPC28dr.png");
       -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; /* optional, center the image */
      background-size: 100% 100%
    }
    .card2 {
      background-image: url("https://i.imgur.com/JZmm1MC.png");
      background-size: 100% 100%
    }
    .card3 {
      background-image: url("https://i.imgur.com/ulJIhdz.png");
      background-size: 100% 100%
    }
    .card-link {
      color: white;
    }
    .gif{
      background-image: url("../assets/dungeonRace.gif");
      background-size: 100% 100%
    } 
 
  }
    .card-link:hover {
      color: white;
      background: @main-color;
    }
    .card-img {
      width: 60%;
      background-size:     cover;                      /* <------ */
      background-repeat:   no-repeat;
      background-position: center center; 

    }
   
  
  .btn {
    width: 100%;
  }
  .fa-play{
    display:flex;
    font-size:1.7rem;
    margin-top:3vh;
    margin-left:3vh;
    width:5vh;
  }
  .fa-play:hover{
    opacity: .5;
  }
}
.singleCard-styles {
  
  .card {
    background: @secondary-color;
    .card-body {
      .card-title {
        font-size: 50px;
      }
      .card-link {
        color: cornflowerblue;
        font-size: 15px;
      }
      .card-link:hover {
        color: white;
        background: @main-color;
      }
      .card-text {
        font-size: 25px;
      }
    }
    .card-img {
      width: 10%;
    }
    .btn {
      width: 20%;
    }
  }
}
//**************************VARIABLES
@main-color: #7eb98b;
@secondary-color: #bedccf;
@third-color: #90c4b9;
@fourth-color: #c3e7ab;
@accent-color: #edebc9;
