.App .navbar {
  background: #7eb98b;
}
.App .navbar .navbar-brand {
  color: white;
}
.App .navbar .nav-link {
  color: white;
}
.component-styles {
  margin-top: 0.2%;
  margin-bottom: 1%;
}
.btn {
  background: #edebc9;
  color: black;
  border: none;
}
.btn:hover {
  background: #7eb98b;
}
.nav-tabs {
  background: #edebc9;
}
.contactLabel-styles {
  font-size: 25px;
  text-align: left;
  width: 100%;
}
.contactCard-styles {
  background: #bedccf;
}
.form-control {
  font-size: 25px;
  margin-bottom: 3%;
}
.list-group {
  color: white;
  font-size: 25px;
}
.list-group .list-group-item {
  background: #bedccf;
}
.message-styles {
  height: 300px;
}
.modal-content {
  margin-top: 40%;
  background: #90c4b9;
  color: white;
}
.modal-content .modal-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.modal-content .modal-body {
  font-size: 20px;
}
.modal-content .modalbutton-styles {
  margin: 0 auto;
  width: 30%;
  font-size: 17px;
}
.modal-content .close {
  color: #edebc9;
}
.card-title {
  font-size: 30px;
}
.card-text {
  border-top: 2px solid #7eb98b;
  font-size: 20px;
}
.progress-styles {
  width: 97%;
  font-size: 20px;
}
.progress-styles .label-styles {
  font-size: 30px;
}
.progress-styles .label-styles {
  width: 100%;
  background: #edebc9;
  padding-bottom: 1%;
  border-bottom: 2px solid #bedccf;
}
.progress-styles .text-left {
  font-size: 25px;
}
.progress-styles .progress-bar {
  background: #bedccf;
}
.footer-styles {
  margin: 0 auto;
  background: #c3e7ab !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
